.header {
  background: var(--gray-700);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.25rem 0;
  width: 100vw;
  height: 12.5rem;
  position: absolute;
  top: 0;
  left: 0.25rem;
}